
.btn-outline {
    border-radius: 5px;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid black;
    color: var(--black);
    background-color: var(--white);
    
    display: flex;
    column-gap: 10px;
    align-items: center;
    
    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

.btn-view {
    background-color: var(--accent);
    color: var(--white);
    border: none;
}